
@charset "utf-8";

$white: #FFF;
$dark: #333;

$navbar-background-color: $dark;
$navbar-item-color: $white;

$footer-background-color: $dark;

.section.blog-item
	margin-top: -340px;

.hero.blog-picture
	height: 400px;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

